{{> head}}

    {{> navbar}}
    <div class="container">
     <div class="row">
         <div class="col-md-8">
             <h1>My primer About con HBS</h1>

             <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus unde rem numquam sint quia vitae optio dicta ex aperiam nobis in, porro, nostrum commodi dolore, exercitationem ullam. Tempore, repellat.
             </p>
         </div>
         <div class="col-md-4">
             <img src="/assets/img/cancha1.jpg" alt="IMAGEN" class="img-thumbnail">
         </div>
     </div>
    </div>


{{> footer}}